.sai{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 20px;
  width: 200px;
  color: red;
  background-color: greenyellow;
}
h1{
  align-items: center;
}